@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /*  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "calibre", "poppins", "viga", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000114;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#contact {
  letter-spacing: 0.3rem;
}
/* width and height of the scrollbar */
